<div class="container p-5">
  <div class="row">
    <div class="col-md-8 me-5">
      <div class="btn-toolbar justify-content-sm-between container mt-5">
        <div>
          <h1 class="font-weight-bold fw-bold">Latest Blogs</h1>
        </div>
        <div>
          <%= link_to "New blog", new_blog_path, class: "btn btn-warning rounded-pill" %>
        </div>
      </div>
      <hr class="container mt-5">

      <div class="my-5">
        <% @blogs.each do |blog| %>
          <div class="container rounded py-4 px-4 mt-5 bg-light">
            <a>
              <h4 class="fw-bolder"><%= link_to blog.title, blog, class: "text-decoration-none text-black blog-show" %></h4>
            </a>
            <h5>Short description: <%= blog.short_description %></h5>
            <p><%= blog.body %></p>
            <div>
              <%= link_to "Edit", edit_blog_path(blog), class: "badge rounded-pill bg-secondary text-decoration-none ms-1" %>
              <%= link_to "Delete", blog_path(blog), method: :delete, class: "badge rounded-pill bg-danger text-decoration-none ms-1" %>
              <small class="text-muted ms-2 mt-1"><%= blog.created_at.strftime("%B %d") %></small>
              <span type="button" class=" float-end text-muted ms-2">Replies <span class="badge bg-secondary ms-1"><%= blog.comments.count %></span></span>
              <span type="button" class=" float-end text-primary"><span class="badge bg-primary ms-1"><%= blog.impressionist_count %> <%= blog.impressionist_count == 1 ? 'view' : 'views' %></span></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="w-25 ms-5 mt-5">
      <div class="bg-light border pb-3 border-dark rounded col-md-2 position-fixed">
        <h6 class="fw-bold mt-4 py-2 text-center">Top 10 Popular Articles</h6>
        <% @top_blogs.each do |blog| %>
          <div class="mx-2">
            <hr class="mx-3">
            <p class="ms-3"><%= link_to(blog.title, blog, class: 'text-decoration-none') %></p>
            <small class="ms-3">Views: <%= blog.impressionist_count %></small>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
