<%= render 'blog_header', blog: @blog %>

<h1 class="text-center fw-lighter my-5">Post Detail</h1>
<div class="container my-5 w-50">
  <div>
    <%= @blog.body %>
  </div>
</div>


<hr class="container w-50">

<div class="container w-50">
  <h5 class="container mt-5 fw-light text-primary">Comments</h5>
  <div class="container">
    <% @blog.comments.each do |comment| %>
      <p><%= comment.body.capitalize %></p>
    <% end %>
  </div>
</div>



<div class="container w-50 mb-5">
  <div>
    <h5 class="container mt-5 fw-light text-primary">Leave a comment</h5>
  </div>
  <div class="container">
    <%= form_with model: [@blog, @blog.comments.build] do |f| %>
      <div class="mb-2">
        <%= f.label :body, "Comment", class: "form-label" %>
        <%= f.text_field :body, class: "form-control" %>
      </div>

      <div>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

